.container {
    background-color: #eee;
    border-radius: 10px;
    max-width: 80vw;
    margin: 5rem auto;
    padding: 2rem;

}

.grid {
    &__block {
        background-color: #eee;
        display: grid;
        grid-template-columns: 75px repeat(7, 1fr);
        grid-template-rows: repeat(35, 30px);
        grid-gap: 2px;
        width: 80%;
        margin: 5rem auto;

        // box-shadow: 8px 10px 18px rgba(0, 0, 0, 0.11);
    }
    &__hours,
    &__hours--blank {
        text-align: right;
        padding: 6px 25px;
        background-color: #eee;
        font-size: 13px;
        font-family: Segoe UI;
        color: #777;

        &--full,
        &--half {
            background-color: #fff;

        }
    }
    &__date {

        text-align: center;
        padding: 0.3rem;
        background-color: #cdcdcd;
    }

}
